.card-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    display: flex;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card-container h5 {
    margin-bottom: 20px;
}


.card-container .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.card-container .form-group label {
    margin-right: 5px;
}

.card-container .search-button {
    background-color: #FF6F00;
    color: white;
    border-color: #FF6F00;
}

.card-container .register-link {
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

.card-container .register-link a {
    color: white;
    text-decoration: none;
}

.carousel-container {
    position: relative;
    width: 100%;
    z-index: 1;
}

.carousel {
    width: 100%;
}



.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.form-group .form-control {
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.form-group .form-control[type="file"] {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}

.form-control {
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

#form p {
    text-align: center;
}

#form label {
    font-size: 20px;
}
.fechas_ocupadas {
    background-color: rgba(244, 67, 54, 0.45) !important;
    background-image :none !important;
    color: #ffffff !important;
}
.fechas_disponibles {
    background-color: rgba(50, 250, 54, 1) ;
    background-image :none ;
    color: rgba(0,0,0,0);
}

input[type="radio"] {
    display: none;
}


.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

input[type="radio"]:checked~label {
    color: purple;
}

.boton,
.boton:focus,
.boton:active,
.boton:hover {
    margin-right: 5px;
    background-color: #4e247f;
    color: #FFC107;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    display: block;
    margin: 0 auto;
}

.boton:focus,
.boton:active,
.boton:hover {
    outline: none;
    background-color: #663399;
}