.card-container {
  padding: 20px;
}

.card {
  padding: 1.25rem;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #4e247f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.card-width {
  max-width: 900px;
  width: 100%;
}

.image-gallery {
  margin-top: 20px;
}

.image-gallery .row {
  gap: 10px;
}

.image-gallery img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.card-title {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #4e247f;
}

.form-control {
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.form-check-label {
  color: #4e247f;
  margin-left: 0.5rem;
}

.boton {
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  background-color: #4e247f;
  color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: background-color 0.3s ease;
  width: auto;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boton:hover {
  background-color: #663399;
}

textarea {
  resize: vertical;
}

.table {
  margin-top: 1rem;
  border-collapse: collapse;
}

.table th,
.table td {
  vertical-align: middle;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

td a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 1rem;
  color: #4e247f;
  transition: color 0.3s;
}

td a:hover {
  color: blue;
}

.d-flex .form-control {
  height: 38px;
  flex: 1;
  max-width: 300px;
}

.custom-btn {
  background-color: #4e247f;
  color: white;
  border: none;
  height: 38px;
  padding: 0.4rem;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  text-decoration: none;
  display: inline-block;
}

.custom-btn:hover {
  background-color: #663399;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .image-gallery .col-6 {
    flex: 0 0 50%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image-gallery .col-md-4 {
    flex: 0 0 33.33%;
  }
}
