.imagenlogo {
  width: 130px;
  height: auto;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.container-fluid {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: 20px;
}

.navbar-collapse {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  margin-right: auto;
}

.navbar-dark .nav-link {
  margin: 0 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

.nav-link {
  color: #8cb5e0;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #a0bddb;
}

.dropdown-item:hover {
  background-color: #ff6f00;
  color: white;
}

.bg-orange {
  background-color: #4e247f;
}

@media (max-width: 991px) {
  .navbar-collapse {
    display: block;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  .d-flex.align-items-center {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  .profile {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .nav-item.dropdown {
    width: 100%;
  }

  .nav-link.dropdown-toggle {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .d-flex.align-items-center {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
  }

  .profile {
    margin-right: 0.7rem;
  }
}
