.container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 40px;
    text-align: justify;
    opacity: 0.9;
    max-width: 1200px;
    align-content: center;

}

.column {
    background-color: rgb(94, 155, 175);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    color: white;
}

.titles{
    text-align: center;
}

#equipoD{
    background-color: rgb(94, 155, 175);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
    color: white;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    align-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    display: block;
    opacity: 0.9;
}

