<nav class="navbar navbar-expand-lg navbar-dark bg-orange">
    <link rel="stylesheet" href="/navbar.css">

    <div class="container-fluid">
        <div class="logo-container">
            <a href="/" class="navbar-brand">
                <img class="imagenlogo" src="/img/logo-alquiler-para-fiestas.png" alt="Logo">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:if="${session.usuariosession == null}" href="/">Home</a>
                <a class="nav-item nav-link" th:if="${session.usuariosession != null}"
                    sec:authorize="hasRole('PROPIETARIO') || hasRole('CLIENTE') || hasRole('ADMIN')"
                    href="/inicio">Inicio</a>
                <a class="nav-item nav-link" href="/nosotros">Nosotros</a>
                <a class="nav-item nav-link" th:href="@{/inmueble/registrar}"
                    sec:authorize="hasRole('PROPIETARIO')">Crear Inmueble</a>
                <a class="nav-item nav-link" th:href="@{/inmueble/mis_inmuebles}"
                    sec:authorize="hasRole('PROPIETARIO')">Mis Inmuebles</a>
                <a class="nav-item nav-link" th:href="@{/mis_reservas}" th:if="${session.usuariosession != null}">Mis
                    Reservas</a>
                <a class="nav-item nav-link" th:href="@{/admin/usuarios}" th:if="${esAdmin}">Dashboard</a>
                <a class="nav-item nav-link" href="/login" th:if="${session.usuariosession == null}">Iniciar Sesión</a>
            </div>
            <div class="d-flex align-items-center">
                <img class="profile" th:if="${session.usuariosession != null}"
                    th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="Perfil">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                        th:if="${session.usuariosession != null}">
                        Hola, <span th:text="${session.usuariosession.nombre}"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/perfil}">Modificar Perfil</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>