<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Alquiler para fiestas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/formularios.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>

    <body>
        <nav th:replace="/fragments/navbar :: nav"></nav>
         <div th:insert="/fragments/msg :: msg"></div>

        <br><br><br>

        <div class="card-container">
            <div class="card">
                <form th:action="@{/comentarios/registro}" method="POST" enctype="multipart/form-data">
                    <h5 class="card-title">Deja tu comentario !</h5>
                    <div class="form-group">
                        <textarea type="textarea"  class="form-control form-control-sm" id="comentario" name="comentario" rows="4" maxlength="255">  </textarea>
                    </div>
                    <input type="hidden" name="idCliente" th:value="${usuario.id}">
                    <input type="hidden" name="fechaComent" value="java.util.Date">
                    <input type="hidden" name="id" th:value="${inmueble.id}">
                    <h5>Valora tu experiencia (1-5)</h5>
                    <input class="calif" type="number" name="calificacion" min="1" max="5">
                    <div class="form-group">
                        <label>
                            <br>
                            <h5>Fotos</h5>
                        </label>
                        <input type="file" class="form-control" name="archivo">
                    </div>

                    <button type="submit" class="boton">Enviar</button>

                </form>
            </div>
        </div>

        <br><br><br>

        <footer th:replace="/fragments/footer :: footer"></footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    </body>

</html>