<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Alquiler para fiestas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/formularios.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    </head>
    <body>

        <nav th:replace="/fragments/navbar :: nav"></nav>
        <div th:insert="/fragments/msg :: msg"></div>

        <br><br><br>

        <div class="card-container">
            <div class="card">
                <h3 class="card-title">Modificar Perfil</h3>
                <form th:action="@{/perfil/}" method="post" enctype="multipart/form-data">
                    <input type="text" class="form-control" name="nombre" th:value="${usuario.nombre}" required>
                    <input type="text" class="form-control" name="email" th:value="${usuario.email}" required>
                    <input type="text" class="form-control" name="telefono" th:value="${usuario.telefono}" required>
                    <tr>
                        <td><a><img class="size-image" th:src="@{'/imagen/lista/'+${usuario.imagen.id}}" alt="Imagen del inmueble"></a></td>
                    </tr>

                    <br>
                    <input type="file" class="form-control" name="archivo">
                    <input type="text" class="form-control" name="username" th:value="${usuario.username}" required/>
                    <input type="password" class="form-control" name="password" placeholder="Ingrese una nueva si desea modificar la contraseña">
                    <input type="hidden" name="rol" th:value="${usuario.rol}" />
                    <input type="hidden" name="id" th:value="${usuario.id}" />
                    <button type="submit" class="boton">Actualizar</button>
                </form>
                <br>

                <form th:action="@{/perfil/eliminar/usuarios/{id}}" method="post">
                    <button th:if="${session.usuariosession.rol != usuario.rol}" type="submit" class="boton">Eliminar Cuenta</button>
                </form>
            </div>
        </div>

        <br><br><br>

        <footer th:replace="/fragments/footer :: footer"></footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>